<ul>
	<li>Niveau 1 : Point de vente (Bar)</li>
	<li>Niveau 2 : Point de rechargement (Caisse)</li>
	<li>Niveau 3 : Point de rechargement (SDT)</li>
	<li>Niveau 4 : Gestion des stocks</li>
	<li>Niveau 5 : Gestion des flux financiers</li>
	<li>Niveau 6 : Chatter</li>
	<li>Niveau 7 : idem 3 4 et 5</li>
	<li>Niveau 8 : Droit de créer des produits et des admin de niveau 1 et 2</li>
	<li>Niveau 9 : </li>
	<li>Niveau 10 : </li>
	<li>Niveau 11 : Droit de créer des admins de tout niveau</li>
</ul>
